@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="text-align: center; padding-top: 340px;">Welcome to the online Library of Zagreb - KGZ</h1>
</div>
